.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}

.matrix-container {
    display: flex;
    justify-content: center;
}

body {
    background-color: green;
    text-align: center;
    font-family: fantasy;
}

.marginz {
    margin-bottom: 5px;
}
table, th, td {
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table {
    margin:auto
}

button{
margin: 20px;
}